{{#if next}}
<div class="row pagination-wrap" id="pagination-wrap">
    <div class="col col-12">
        <div class="text-center">
            <button class="btn btn-secondary" id="load-more">{{t "Load More"}}</button>
        </div>
    </div>
</div>
{{/if}}